<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico"/>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/yeti/bootstrap.min.css" rel="stylesheet">
    <title><%= htmlWebpackPlugin.title %></title>
</head>
<body>
<noscript><strong>BURPS ! need JavaScript to work.</strong></noscript>

<header>
    <nav class="navbar">
        <ul>
            <li>Your menu</li>
        </ul>
    </nav>
</header>

<section>

    <h1>Titre</h1>

    <form>
        <input type="datetime-local">
    </form>

    <simple-component vue-attr></simple-component>

    <simple-component-prop
            vue-attr
            :propobj="{title : 'Titre passé par propriété', url : 'http://www.bozo.net'}"
    ></simple-component-prop>
</section>

<aside>
    <h3>About section</h3>
    <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</aside>

<footer>
    <p>Copyright 2020</p>
</footer>
</body>
</html>
<script>
    window.vueWrapper.init();
</script>
