<template>
  <div>
    <h4>{{ pageTitle }}</h4>
    <p>
      Affichage de la configuration globale :
      {{ appConfig }}
    </p>
  </div>
</template>

<script>
export default {
  name: "simpleComponentApp",
  data() {
    return {
      pageTitle: "Composant simple"
    };
  }
};
</script>
