<template>
  <div>
    <h4>{{ pageTitle }} - {{ propobj.title }}</h4>

    <ul>
      <li v-for="(data, index) in propobj" :key="index">
        {{ index }} - {{ data }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "simpleComponentPropApp",

  data() {
    return {
      pageTitle: "Composant simple avec PROP"
    };
  },
  props: {
    propobj: {
      type: Object
    }
  }
};
</script>
